
body {
    margin: 0px;
    padding: 0px;
}

.header, .content {
    padding: 0px 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}


.header ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}

 .header > ul > li {
    margin: 0px 10px;
    font-size: 18px;
    color: #e5e7eb;
  }

.header h1 {
    font-size: 24px;
    color: #f9faf8;
}