
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction:column;
    height: 100vh;
    font-family:'roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    height:50px;
    align-items:center;
}

.header, .hero, .info, .quote, .action {
    padding: 0px 80px;
}

.header ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}

 .header > ul > li {
    margin: 0px 10px;
    font-size: 18px;
    color: #e5e7eb;
  }

.header h1 {
    font-size: 24px;
    color: #f9faf8;
}

.footer {
    justify-content: center;
    font-size:18px;
    color: #E5E7Eb;
}

.content {
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content: space-between;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.hero_left {

}

.hero_left h1 {
    color:#f9faf8;
    font-size: 48px;
}

.hero_left h2 {
    font-size: 18px;
    color:#e5e7eb;
}

button {
    background-color:#3882f6;
    color:#f9faf8;
    font-size:18px;
    padding:6px 24px;
    border-radius: 8px;
    border:none;
    margin: 24px 0px 36px;
}

.imageplace {
    margin: 10px 10px 0px 60px;
    display: flex;
    height: 200px;
    width: 400px;
    background-color: gray;
    color: #E5E7Eb;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
}

.info h1 {
    margin: 0px 0px;
    padding: 0px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.boxes {
    display: flex;
    justify-content:center;
    text-align: center;
}

.box {
    height: 150px;
    width: 150px;
    margin: 20px 20px;
    color:#1f2937;
}

.box button {
    height: 90px;
    width: 90px;
    margin: 10px 10px;
    border-style: double;
    border-color:#3882f6;
    border-width: 2px;
    background-color:#f9faf8;
}

.quote {
    margin: 20px 0px;
    font-size: 36px;
    font-style: italic;
    font-weight:100;
    font:100;
    color: #1f2937;
    background-color: #E5E7Eb;
}

.quote p {
    margin: 0px 100px 20px 0px;
    text-align: right;
    font-size: 18px;
    font-weight: 900;
}